{% extends './baseTodos.html' %}
{% load static %}

{% block body %}
<!----- BODY----->
<body>
    <main>
        <article class="text-left mx-5 my-3">
          <h3 class="text-center my-4">
            Little PetShop - Política de Términos y Condiciones
          </h3>
          <p class="textoTerms">
            Bienvenido a Little PetShop. Estos términos y condiciones describen
            las reglas y regulaciones para el uso del sitio web Little PetShop.
          </p>
          <p class="textoTerms">
            Little PetShop es una tienda online. Al acceder a este sitio web,
            asumimos que aceptas estos términos y condiciones en su totalidad. No
            continúes usando el sitio web Little PetShop si no aceptas todos los
            términos y condiciones establecidos en esta página.
          </p>
  
          <p class="textoTerms">
            La siguiente terminología se aplica a estos Términos y Condiciones,
            Declaración de Privacidad y Aviso legal y cualquiera o todos los
            Acuerdos: el Cliente, Usted y Su se refieren a usted, la persona que
            accede a este sitio web y acepta los términos y condiciones de la
            Compañía. La Compañía, Nosotros mismos, Nosotros y Nuestro, se refiere
            a nuestra Compañía. Parte, Partes o Nosotros, se refiere en conjunto
            al Cliente y a nosotros mismos, o al Cliente o a nosotros mismos.
          </p>
  
          <p class="textoTerms">
            Todos los términos se refieren a la oferta, aceptación y consideración
            del pago necesario para efectuar el proceso de nuestra asistencia al
            Cliente de la manera más adecuada, ya sea mediante reuniones formales
            de una duración fija, o por cualquier otro medio, con el propósito
            expreso de conocer las necesidades del Cliente con respecto a la
            provisión de los servicios/productos declarados de la Compañía, de
            acuerdo con y sujeto a la ley vigente. Cualquier uso de
            la terminología anterior u otras palabras en singular, plural,
            mayúsculas y/o, él/ella o ellos, se consideran intercambiables y, por
            lo tanto, se refieren a lo mismo.
          </p>
  
          <p>Cookies</p>
  
          <p class="textoTerms">
            Empleamos el uso de cookies. Al utilizar el sitio web, usted acepta el uso de cookies de acuerdo con la política de
            privacidad. La mayoría de los modernos sitios
            web interactivos de hoy en día usan cookies para permitirnos recuperar
            los detalles del usuario para cada visita. Las cookies se utilizan en
            algunas áreas de nuestro sitio para habilitar la funcionalidad de esta
            área y la facilidad de uso para las personas que lo visitan. Algunos
            de nuestros socios afiliados/publicitarios también pueden usar
            cookies.
          </p>
  
          <p>Licencia</p>
          <p class="textoTerms">
            A menos que se indique lo contrario, Little PetShop y/o sus
            licenciatarios les pertenecen los derechos de propiedad intelectual de
            todo el material en Little PetShop.
          </p>
  
          <p class="textoTerms">
            Todos los derechos de propiedad intelectual están reservados. Puedes
            ver y/o imprimir páginas para tu uso personal
            sujeto a las restricciones establecidas en estos términos y
            condiciones.
            <p>
              No debes:
            </p>
  
            <ul class="textoTerms">
              <li >Volver a publicar material.</li>
              <li>Vender, alquilar u
                otorgar una sub-licencia de material.</li>
              <li>Reproducir,
                duplicar o copiar material.</li>
              <li>Redistribuir contenido
                de Little PetShop, a menos de que el contenido se haga
              específicamente para la redistribución. </li>
            </ul>
          </p>
  
          <p>
            Aviso legal
          </p>
  
          <p class="textoTerms">
  
            En la medida máxima
            permitida por la ley aplicable, excluimos todas las representaciones,
            garantías y condiciones relacionadas con nuestro sitio web y el uso de
            este sitio web (incluyendo, sin limitación, cualquier garantía implícita
            por la ley con respecto a la calidad satisfactoria, idoneidad para el
            propósito y/o el uso de cuidado y habilidad razonables).
          </p>
          <p class="textoTerms">
            <p class="textoTerms">Nada en este aviso legal:</p>
            
  
            <ul class="textoTerms">
            <li>Limita o excluye nuestra o su responsabilidad por muerte o lesiones personales resultantes de negligencia. </li>
            <li>Limita o excluye nuestra o su responsabilidad por fraude o tergiversación fraudulenta.</li>
            <li>Limita cualquiera de nuestras o sus responsabilidades de cualquier manera que no esté permitida por la ley aplicable.</li>
            <li>Excluye cualquiera de nuestras o sus responsabilidades que no pueden ser excluidas bajo la ley aplicable.</li>
          </ul>
          </p>
  
          <p class="textoTerms">
            Las limitaciones y exclusiones de responsabilidad establecidas en esta
            Sección y en otras partes de este aviso legal: 
            <ul class="textoTerms">
              <li>están sujetas al párrafo anterior;</li>
              <li>y rigen todas las responsabilidades que surjan bajo la
          exención de responsabilidad o en relación con el objeto de esta exención
          de responsabilidad, incluidas las responsabilidades que surjan en
          contrato, agravio (incluyendo negligencia) y por incumplimiento del
          deber legal.</li>
          </p>
          <p class="textoTerms">
            En la medida en que el sitio web y la información y los servicios en
            el sitio web se proporcionen de forma gratuita, no seremos
            responsables de ninguna pérdida o daño de ningún tipo.
          </p>
        </article>
      </main>
    </div>
</body>
{% endblock %}
<!----- FIN BODY ----->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>

<script src="js/weather.js"></script>
<script src="js/dark-light.js"> </script>
<script src="js/reloj.js"></script>
</html>